<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Портал для опитувань</title>
    <!-- Підключення Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header class="bg-primary text-white p-3 mb-4 shadow-sm">
        <div class="container-fluid">
            <span class="h3">Портал для опитувань</span>
        </div>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
